.vscode/**
.vscode-test/**
build/**
scripts/**
out/**
src/**
docs/**
logs/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

ReleaseProcess.md
nodemon.json